.main-container {
    overflow: auto; 
    max-height: 100vh; 
}

#remoteVideos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    padding: 0 5%;
}

#chat-container {
    width: fit-content;
    min-width: 300px;
}

#localVideo {
    width: 300px;
    min-width: 250px;
    max-width: 400px;
    object-fit: contain;
}

#chat p {
    margin: 5px 0;
    padding: 0;
    overflow-wrap: break-word;
}

.remote-video-container {
    max-width: 400px;
}

.remote-video {
    width: 78%;
    height: 100%;
    object-fit: contain;
}
