.main-container {
    overflow: auto; 
    max-height: 100vh; 
}

#remoteVideos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    padding: 0 5%;
}

#chat-container {
    width: fit-content;
    max-width: 350px;
}

#localVideo {
    width: 350px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#chat p {
    margin: 5px 0;
    padding: 0;
    overflow-wrap: break-word;
}

.remote-video-container {
    max-width: 400px;
}

.remote-video {
    width: 78%;
    height: 100%;
    object-fit: contain;
}
